/* Poppins Font Definitions */

// Light
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
}

// Regular
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

// Medium
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

// SemiBold
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

// Bold
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}