/* scrollbars from semantic-ui */

/* Site */

::selection {
  background-color: rgba($primary, 0.5);
  color: $text-color;
}

/* Form */

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: $text-color;
}

/* Force Simple Scrollbars */

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
}

body ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0;
}

body ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.1);
}

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}