@use "../../styles/theme" as *;

button.collapse-button {
  .fa-icon {
    margin-left: 0;
  }

  padding-left: 0;
}

.ErrorMessage {
  .fa-icon {
    color: $warning;
    font-size: 1.5em;
    margin-right: 0.3em;
    vertical-align: middle;
  }

  background-color: initial;
  border-color: $danger;
  color: $text-color;
  margin: 1rem;
  text-align: left;
  width: 500px;

  @media (max-width: 575.98px) {
    width: 100%;
  }
}

.grid-card {
  a .card-section-title {
    color: $text-color;
    text-decoration: none;
  }

  // Link styling
  a {
    color: $text-color;
    text-decoration: none;
  }

  // Hover interactions for overlays
  &:hover,
  &:active {

    .rating-banner,
    .stash-rating-banner,
    .studio-overlay,
    .stash-studio-overlay {
      opacity: 0;
      transition: opacity 0.5s;
    }

    .studio-overlay:hover,
    .studio-overlay:active,
    .stash-studio-overlay:hover,
    .stash-studio-overlay:active {
      opacity: 0.75;
      transition: opacity 0.5s;
    }
  }

  // Rating banner base transition
  .rating-banner,
  .stash-rating-banner {
    transition: opacity 0.5s;
  }

  .progress-bar {
    background-color: #73859f80;
    bottom: 5px;
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
  }

  .progress-indicator {
    background-color: $primary;
    height: 5px;
  }

  .card-controls {
    align-items: center;
    display: flex;
    left: 0.5rem;

    position: absolute;
    top: 0.7rem;
    z-index: 1;
  }

  .card-check,
  .card-drag-handle {
    height: 1.2rem;
    opacity: 0;
    width: 1.2rem;

    @media (hover: none),
    (pointer: coarse) {
      // always show card controls when hovering not supported
      opacity: 0.25;
    }
  }

  .card-drag-handle {
    cursor: move;
  }

  .card-drag-handle-container .card-drag-handle {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
  }

  .card-check {
    padding-left: 15px;

    &:checked {
      opacity: 0.75;
    }

    @media (hover: none),
    (pointer: coarse) {
      // and make it bigger when hovering not supported
      width: 1.5rem;
    }
  }

  &:hover .card-check,
  &:hover .card-drag-handle {
    opacity: 0.75;
    transition: opacity 0.5s;
  }
}

// Loading Indicator
.loading-indicator {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  opacity: 1;
  padding-top: 2rem;
  width: 100%;

  .loading-message {
    margin-top: 1rem;
  }

  &.loading-inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0.5rem;
    padding-top: 0;
    width: auto;

    .loading-message {
      margin-top: 0;
    }
  }

  &.loading-card {
    padding: 1rem;
    padding-top: 1rem; // Overrides base
  }
}

// Hover Scrubber
.hover-scrubber {
  bottom: 0;
  height: 20px;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .hover-scrubber-area {
    cursor: col-resize;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &.hover-scrubber-inactive .hover-scrubber-area {
    cursor: inherit;
  }

  .hover-scrubber-indicator {
    bottom: 0;
    height: 4px;
    position: absolute;
    width: 100%;
  }

  .hover-scrubber-indicator-marker {
    background-color: $primary;
    height: 100%;
    transition: width 0.1s;
  }
}

// Scrape Dialog
.scrape-dialog-container {
  max-height: calc(100vh - 14rem);
  overflow-y: auto;
  padding-right: 15px;

  .column-label {
    color: $text-muted;
    font-size: 0.85em;
  }

  .string-list-input {
    width: 100%;
  }

  .image-selection-parent {
    min-width: 100%;
  }

  .image-selection {
    .select-buttons {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      .image-index {
        flex-grow: 1;
        text-align: center;
      }
    }

    .loading {
      opacity: 0.5;
    }

    .LoadingIndicator {
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.bulk-update-text-input {
  button {
    background-color: $secondary;
    color: $text-muted;
    font-size: 0.875rem;
    margin: 0.375rem 0.75rem;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 4;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
      background-color: $secondary;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.unset button {
    visibility: hidden;
  }
}

/* stylelint-disable */
div.react-datepicker {
  background-color: $body-bg;
  border-color: $card-bg;
  color: $text-color;

  .react-datepicker__header,
  .react-datepicker-time__header {
    background-color: $secondary;
    color: $text-color;
    padding-top: 0.4rem;
  }

  .react-datepicker__navigation {
    top: 0.4rem;
  }

  .react-datepicker__day {
    color: $text-color;

    &.react-datepicker__day--disabled {
      color: $text-muted;
    }

    &:hover {
      background: rgba(138, 155, 168, 0.15);
    }
  }

  div.react-datepicker__time-container div.react-datepicker__time {
    background-color: $body-bg;
    color: $text-color;

    ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
      background-color: rgba(138, 155, 168, 0.15);
    }
  }

  .react-datepicker__day-name {
    color: $text-color;
  }

  // replace the current month with the dropdowns
  .react-datepicker__current-month {
    display: none;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__month-dropdown-container {
    margin-left: 0;
    margin-right: 0.1rem;
  }

  .react-datepicker__year-dropdown-container {
    margin-left: 0.1rem;
    margin-right: 0;
  }

  .react-datepicker__month-dropdown-container .react-datepicker__month-read-view,
  .react-datepicker__year-dropdown-container .react-datepicker__year-read-view {
    font-weight: bold;
    font-size: 0.944rem;

    // react-datepicker hides these fields when the dropdown is shown
    visibility: visible !important;
  }

  // hide the dropdown arrows
  .react-datepicker__month-dropdown-container .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__year-dropdown-container .react-datepicker__year-read-view--down-arrow {
    display: none;
  }

  .react-datepicker__year-dropdown,
  .react-datepicker__month-dropdown {
    background-color: $body-bg;

    .react-datepicker__year-option:hover,
    .react-datepicker__month-option:hover {
      background-color: #8a9ba826;
    }
  }
}

/* stylelint-enable */

#date-picker-portal .react-datepicker-popper {
  z-index: 1600;
}



.stash-id-pill {
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  span,
  a {
    display: inline-block;
    padding: 0.25em 0.6em;
  }

  span {
    background-color: $primary;
    border-radius: 0.25rem 0 0 0.25rem;
    min-width: 5em;
  }

  a {
    background-color: $secondary;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.count-button {
  border-radius: 5px;

  &:hover {
    background: rgba(138, 155, 168, 0.15);
    color: #f5f8fa;
  }

  .count-icon {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
  }

  .count-value {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }

  button.count-icon,
  &.increment-only button.count-value {
    &:hover {
      background: none;
      color: #f5f8fa;
    }
  }

}

.scraper-menu .dropdown-menu {
  min-width: 250px;
  padding-top: 0;

  .dropdown-divider {
    border-top-color: $textfield-bg;
    margin: 0;
  }

  .scraper-filter-container {
    background-color: $secondary;
    border-bottom: solid 1px $textfield-bg;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;

    .clearable-text-field {
      background-color: $textfield-bg;
    }

    .clearable-text-field-clear {
      background-color: unset;
      border: unset;
    }

  }
}

.custom-fields {
  width: 100%;

  .detail-item {
    max-width: 100%;
  }
}

.custom-fields .detail-item .detail-item-title {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-fields .detail-item .detail-item-value {
  word-break: break-word;

  .TruncatedText {
    white-space: pre-line;
  }
}

.custom-fields-input>.collapse-button {
  font-weight: 700;
}

.custom-fields-row {
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875rem;

  .form-label {
    margin-bottom: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  // labels with titles are styled with help cursor and dotted underline elsewhere
  div.custom-fields-field label.form-label {
    cursor: inherit;
    text-decoration: inherit;
  }

  &.custom-fields-new>div:not(:last-child) {
    padding-right: 0;
  }
}

.sidebar-pane {
  display: flex;

  .sidebar {
    // TODO - use different colours for sidebar and toolbar
    background-color: $body-bg;
    border-right: 1px solid $secondary;
    flex: $sidebar-width;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 15px;
    transition: margin-left 0.1s;
  }

  .sidebar {
    bottom: 0;
    left: 0;
    margin-top: $navbar-height;
    overflow-y: auto;
    padding-top: 0.5rem;
    position: fixed;
    scrollbar-gutter: stable;
    top: 0;
    width: $sidebar-width;
    z-index: 100;
  }

  &.hide-sidebar .sidebar {
    margin-left: -$sidebar-width;
  }

  &.hide-sidebar .sidebar+div {
    width: 100%;
  }

  &:not(.hide-sidebar) .sidebar+div {
    width: calc(100% - $sidebar-width);
  }

  > :nth-child(2) {
    flex-grow: 1;
    padding-left: 0.5rem;
  }

  &.hide-sidebar {
    > :nth-child(2) {
      padding-left: 0;
    }
  }

  @media (min-width: 768px) {
    transition: margin-left 0.1s;

    &:not(.hide-sidebar) {
      > :nth-child(2) {
        margin-left: calc($sidebar-width - 15px);
      }
    }
  }

  @media (max-width: 575.98px) {
    .sidebar {
      margin-top: 0;
    }
  }
}

.sidebar-toggle-button-container {
  height: 100%;
  position: absolute;

  .sidebar-toggle-button {
    border-bottom: 1px solid $secondary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-right: 1px solid $secondary;
    border-top: 1px solid $secondary;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    margin-left: -15px;
    opacity: 0.5;
    position: sticky;
    top: calc($navbar-height + 0.5rem);
    z-index: 10;

    @media (max-width: 767.98px) {
      top: 0.5rem;
    }
  }
}

.sidebar-pane:not(.hide-sidebar) .sidebar-toggle-button-container {
  .sidebar-toggle-button {
    margin-left: -0.5rem;
  }
}

.sidebar-section {
  border-bottom: 1px solid $secondary;

  .collapse-header {
    // background-color: $secondary;

    padding: 0.25rem;

    .collapse-button {
      font-weight: bold;
      text-align: left;
      width: 100%;
    }
  }

  .collapse,
  // include collapsing to allow for the transition
  .collapsing {
    padding-top: 0.25rem;
  }
}

.sidebar-section:first-child .collapse-header {
  border-top: 1px solid $secondary;
}

$sticky-header-height: calc(50px + 3.3rem);

// special case for sidebar in details view
.detail-body .sidebar-toggle-button-container .sidebar-toggle-button {
  top: calc($sticky-header-height + 0.5rem);

  @media (max-width: 767.98px) {
    top: 0.5rem;
  }
}

.detail-body {
  .sidebar-pane {
    position: sticky;
    top: calc($sticky-detail-header-height + $navbar-height);
  }

  .sidebar {
    // required for sticky to work
    align-self: flex-start;

    // take a further 15px padding to match the detail body
    margin-top: -15px;
    max-height: calc(100vh - $sticky-header-height - 15px);
    overflow-y: auto;
    padding-left: 0;
    position: sticky;

    top: calc($sticky-detail-header-height + $navbar-height);
  }

  .sidebar-pane:not(.hide-sidebar) .sidebar {
    height: calc(100vh - $sticky-header-height - 15px);
  }

  .sidebar-pane.hide-sidebar .sidebar {
    left: -$sidebar-width;
    margin-left: calc(-15px - $sidebar-width);
  }

  // on smaller viewports we want the sidebar to overlap content
  @media (max-width: 767.98px) {
    .sidebar-pane:not(.hide-sidebar) .sidebar {
      margin-right: -$sidebar-width;
    }

    .sidebar-pane>.sidebar-pane-content {
      transition: none;
    }
  }

  @media (max-width: 575.98px) {
    .sidebar-pane {
      top: 0;
    }

    .sidebar {
      // flex: 100% 0 0;
      height: calc(100vh - $navbar-height);
      max-height: calc(100vh - $navbar-height);
      top: 0;
    }
  }

  @media (min-width: 768px) {
    .sidebar-pane:not(.hide-sidebar) {
      > :nth-child(2) {
        margin-left: 0;
      }
    }
  }

  .sidebar-pane.hide-sidebar {
    > :nth-child(2) {
      padding-left: 15px;
    }
  }
}

.double-range-input-labels {
  color: $text-color;
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0 0.25rem;

  input[type="text"] {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.double-range-slider {
  pointer-events: none;
  position: absolute;
  width: 100%;

  &::-webkit-slider-thumb {
    appearance: none;
    background-color: $primary;
    border: 2px solid $primary;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 18px;
    pointer-events: all;
    position: relative;
    width: 18px;
  }

  &::-moz-range-thumb {
    appearance: none;
    background-color: $primary;
    border: 2px solid $primary;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 18px;
    pointer-events: all;
    position: relative;
    width: 18px;
  }

  &::-ms-thumb {
    appearance: none;
    background-color: $primary;
    border: 2px solid $primary;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 18px;
    pointer-events: all;
    position: relative;
    width: 18px;
  }
}

input[type="range"].double-range-slider-max {
  z-index: 2;

  // combining these into one rule doesn't work for some reason
  &::-webkit-slider-runnable-track {
    background: transparent;
  }

  &::-moz-range-track {
    background: transparent;
  }

  &::-ms-track {
    background: transparent;
  }
}

.scene-select-option {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .scene-select-row {
    align-items: center;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .scene-select-image {
    background-color: #000;
    border-radius: 3px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
    width: 89px;
  }

  .scene-select-details {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .scene-select-title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .scene-select-studio,
    .scene-select-date,
    .scene-select-code {
      color: #8a9ba8;
      font-size: 0.85em;
      margin-right: 0.5em;
    }
  }

  .scene-select-alias {
    color: #8a9ba8;
    font-size: 0.85em;
    font-style: italic;
    margin-left: 10px;
  }
}
