// Image Card Styles (restored from stash-develop)

.image-card {
    &.card {
        overflow: hidden;
        padding: 0;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &-preview {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        position: relative;

        &-image {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
}