/* Skeleton Card Animation */
.skeleton-card {
  animation: cardLoadingAnimation 2s infinite ease-in-out;
  background-clip: border-box;
  background-color: #30404d;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  box-shadow: 0 0 0 1px #10161a66, 0 0 #10161a00, 0 0 #10161a00;
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  word-wrap: break-word;
}

@keyframes cardLoadingAnimation {
  50% {
    opacity: 0.5;
  }
}